:root {
	/*  Signalisiere, dass die Seite helle und dunkle Darstellung unterstützt.
	https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/#aa-handling-user-agent-styles */
	/* 	color-scheme: light dark; */

	/* Hier eigene Farben definieren oder Farben von OpenProps nehmen.
	https://open-props.style/#colors
	*/
	--red: var(--red-8);
	--green: var(--lime-10);
	--blue: var(--indigo-11);
	--pink: var(--pink-8);

	--dark-gray: var(--gray-9);
	--light-gray: var(--gray-2);

	/* System */
	--ok-color: var(--green-6);
	--warn-color: var(--red-7);

	/* Fast schwarz oder weiß. Texte mit vollem Schwarz-Weiß-Kontrast
	sind schwerer zu lesen also welche mit leicht reduziertem Kontrast. */
	--off-white: var(--gray-1);
	--off-black: var(--gray-11);
	/*  Variablennamen zum Beschreiben der Funktion */

	/* ------------------------------------- */
	/* Light mode */
	/* ------------------------------------- */

	--body-background: var(--gray-0);

	--text-color: var(--dark-gray);
	--heading-color: var(--orange-6);
	--link-color: var(--dark-gray);
	--link-color-active: var(--gray-7);
	/* --nav-link-color: var();
	--nav-active-link-color: var();*/
	--button-color: var(--off-white);
	--button-background-color: var(--orange-6);
	--button-border-color: var(--orange-6);
	--header-footer-background-color: var(--gray-2);
	--header-footer-color: var(--dark-gray);

	/*--ok-color: var(--green);
	--warn-color: var(--red); */

	@media (prefers-color-scheme: dark) {
	}
}

* {
	transition: color, background-color, border-color 0.5s ease;
}
