.podcast-player {
	background-color: var(--gray-3);
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 10;

	.podcast-player__box-control {
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px 10px;
		display: flex;

		button {
			padding: 3px;
			margin-inline: 5px;
			&.rotate svg {
				rotate: 180deg;
			}
			svg {
				transition: 0.3s ease rotate;
			}
		}
	}

	p {
		font-size: var(--step--1);
		margin-block: 0.5em;
		padding-inline-start: 1rem;
	}
}

.podcast-player__control {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem 1rem;
	transition: 0.3s ease-in-out height, 0.3s ease-in-out padding;

	button,
	.podcast-player__time {
		flex-shrink: 0;
	}
	&.hidden {
		overflow: hidden;
		height: 0;
		padding-block: 0;
	}
}

.podcast-player__seek-bar {
	flex-grow: 1;
	input {
		width: 100%;
	}
}
